<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="蓝天白云404" />
<meta name="description" content="蓝天白云404" />
<title>蓝天白云404</title>

<link href="../../static/page404/css/error.css" rel="stylesheet" type="text/css" />

</head>
<body>


<div id="container">
	<img class="png" src="../../static/page404/images/404.png" />
	<img class="png msg" src="../../static/page404/images/404_msg.png" />
	<p><a href="/"><img class="png" src="../../static/page404/images/404_to_index.png" /></a> </p>
</div>

<div id="cloud" class="png"></div>


 
</body>
</html>