{% extends 'blog/base.html' %}

{% block title %}
首页
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block navigation %}
    <nav id="topnav" class="f_l">
        <ul>
            <a href="#">  </a>
            <a href="#" class="topnav_current">首页</a>
            <a href="{{ url_for('index.articles') }}">文章</a>
            <a href="#">关于我</a>
            <a href="#">时间轴</a>
            <a href="#">给我留言</a>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="topnews">
        <h2>
            <span>
                {% for category in data.categories %}
                    <a href="/" target="_blank">{{ category.name }}</a>
                {% endfor %}
            </span>
            <b>文章</b>推荐
        </h2>
        {% for post in data.posts %}
            <div class="blogs">
                <figure><img src="{% if post.index_image_url %}{{ post.index_image_url }}{% else %}../../static/blog/images/01.jpg{% endif %}"></figure>
                <ul>
                    <h3><a href="/article/{{ post.id }}">{{ post.title }}</a></h3>
                    <p>{{ post.digest }}...</p>
                    <p class="autor"><span class="lm f_l"><a href="/">{{ post.category.name }}</a></span><span class="dtime f_l">{{ post.create_time }}</span><span class="viewnum f_r">浏览（<a href="/">{{ post.clicks }}</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}